apiVersion: v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: {{ .replicas_num }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx: {{ .nginx.image_tag }}
        ports:
        - containerPort: {{ .nginx.container_port }}
