{{- template "metadata" . -}}
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .nginx.container_port }}
  type: LoadBalancer