($- template "metadata" . -$)
kind: Service
spec:
  selector:
    app: ($ default "nginx" .nginx.app_name $)
  ports:
    - protocol: TCP
      port: 80
      targetPort: ($ .nginx.container_port $)
  type: LoadBalancer